In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
f1 = pd.DataFrame(np.random.random((4,4)),
                 index = ['white','black','red','blue'],
                 columns = ['up','down','right','left'])
f1

             up      down     right      left
white  0.414817  0.894513  0.709052  0.287578
black  0.169913  0.350649  0.447189  0.836564
red    0.062313  0.788955  0.215402  0.912444
blue   0.413443  0.615894  0.382145  0.603616

In [5]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(f1.to_html())
s.append('</BODY></HTML>')
html = ''.join(s)

In [8]:
html_file = open('myFrame.html','w')
html_file.write(html)
html_file.close()

In [13]:
w_frames = pd.read_html('http://www.baidu.com')
w_frames[0]

ValueError: No tables found

In [18]:
f1.to_json('frame.json')

In [23]:
from pandas.io.json import json_normalize
pd.read_json('frame.json')

             up      down     right      left
black  0.203350  0.295290  0.291904  0.867096
blue   0.674523  0.777795  0.219072  0.690554
red    0.982672  0.994755  0.825477  0.450850
white  0.329953  0.288790  0.251346  0.471703

In [1]:
import cloudpickle as pickle

In [5]:
data  = {'color ': ['white','red'],'value':[5,6]}
data

{'color ': ['white', 'red'], 'value': [5, 6]}

In [4]:
pickled_data  = pickle.dumps(data)
print(pickled_data)

b'\x80\x04\x950\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x06color \x94]\x94(\x8c\x05white\x94\x8c\x03red\x94e\x8c\x05value\x94]\x94(K\x05K\x06eu.'

In [6]:
nf = pickle.loads(pickled_data)
nf

{'color ': ['white', 'red'], 'value': [5, 6]}

In [9]:
f1.to_pickle('frame.pkl')

In [10]:
pd.read_pickle('frame.pkl')

             up      down     right      left
white  0.296634  0.286011  0.093758  0.064575
black  0.447583  0.020659  0.412604  0.309510
red    0.137653  0.897272  0.770561  0.818964
blue   0.135220  0.667238  0.098932  0.206559

In [3]:
engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

ModuleNotFoundError: No module named 'MySQLdb'

In [5]:
import sqlite3
engine = create_engine('sqlite:///foo.db')

In [7]:
f1.to_sql('colors',engine)

In [8]:
pd.read_sql('colors',engine)

   index        up      down     right      left
0  white  0.414817  0.894513  0.709052  0.287578
1  black  0.169913  0.350649  0.447189  0.836564
2    red  0.062313  0.788955  0.215402  0.912444
3   blue  0.413443  0.615894  0.382145  0.603616

# 数据准备

In [11]:
f1 = pd.DataFrame({'id':['ball','pencil','pen','mug','ashtray'],
                  'price':[12.33,11.44,33.31,12.32,33.66]})
f1

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.31
3      mug  12.32
4  ashtray  33.66

In [12]:
f2 = pd.DataFrame({'id':['pencil','pencil','ball','pen'],
                  'color':['white','red','red','black']}) 
f2

       id  color
0  pencil  white
1  pencil    red
2    ball    red
3     pen  black

## 合并

In [14]:
pd.merge(f1,f2,on = 'id')
##on 类似于 SQL 的 where

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.31  black

In [16]:
f3 = pd.DataFrame({'id':['ball','pencil','pen','mug','ashtray'],
                    'color':['white','red','red','black','green'],
                  'brand':['OMG','ABC','ABC','POD','POD']})
f3

        id  color brand
0     ball  white   OMG
1   pencil    red   ABC
2      pen    red   ABC
3      mug  black   POD
4  ashtray  green   POD

In [17]:
f4 = pd.DataFrame({'id':['pencil','pencil','ball','pen'],
                  'brand':['OMG','POD','ABC','POD']}) 
f4

       id brand
0  pencil   OMG
1  pencil   POD
2    ball   ABC
3     pen   POD

In [18]:
pd.merge(f3,f4) ##因为一个对列在另一个中也存在

Empty DataFrame
Columns: [id, color, brand]
Index: []

In [19]:
pd.merge(f3,f4,on = 'id')##默认内连接 交叉链接

       id  color brand_x brand_y
0    ball  white     OMG     ABC
1  pencil    red     ABC     OMG
2  pencil    red     ABC     POD
3     pen    red     ABC     POD

In [20]:
pd.merge(f3,f4,on = 'brand')

      id_x  color brand    id_y
0     ball  white   OMG  pencil
1   pencil    red   ABC    ball
2      pen    red   ABC    ball
3      mug  black   POD  pencil
4      mug  black   POD     pen
5  ashtray  green   POD  pencil
6  ashtray  green   POD     pen

In [21]:
pd.merge(f3,f4,on = 'id',how = 'outer')##外连接 把所有键整合到一起

        id  color brand_x brand_y
0     ball  white     OMG     ABC
1   pencil    red     ABC     OMG
2   pencil    red     ABC     POD
3      pen    red     ABC     POD
4      mug  black     POD     NaN
5  ashtray  green     POD     NaN

In [22]:
pd.merge(f3,f4,on = 'id',how = 'left')

        id  color brand_x brand_y
0     ball  white     OMG     ABC
1   pencil    red     ABC     OMG
2   pencil    red     ABC     POD
3      pen    red     ABC     POD
4      mug  black     POD     NaN
5  ashtray  green     POD     NaN

In [23]:
pd.merge(f3,f4,on = 'id',how = 'right')

       id  color brand_x brand_y
0    ball  white     OMG     ABC
1  pencil    red     ABC     OMG
2  pencil    red     ABC     POD
3     pen    red     ABC     POD

In [24]:
pd.merge(f3,f4,on = ['id','brand'],how = 'outer')##合并多个键

        id  color brand
0     ball  white   OMG
1   pencil    red   ABC
2      pen    red   ABC
3      mug  black   POD
4  ashtray  green   POD
5   pencil    NaN   OMG
6   pencil    NaN   POD
7     ball    NaN   ABC
8      pen    NaN   POD

## 拼接

In [27]:
ser1 = pd.Series(np.random.rand(4),index = [1,2,3,4])
ser1

1    0.756911
2    0.862341
3    0.078234
4    0.180916
dtype: float64

In [30]:
ser2  = pd.Series(np.random.rand(4),index = [5,6,7,8])
ser2

5    0.758765
6    0.824712
7    0.526211
8    0.556757
dtype: float64

In [32]:
pd.concat([ser1,ser2])##默认 axis = 0

1    0.756911
2    0.862341
3    0.078234
4    0.180916
5    0.758765
6    0.824712
7    0.526211
8    0.556757
dtype: float64

In [33]:
pd.concat([ser1,ser2],axis = 1)

          0         1
1  0.756911       NaN
2  0.862341       NaN
3  0.078234       NaN
4  0.180916       NaN
5       NaN  0.758765
6       NaN  0.824712
7       NaN  0.526211
8       NaN  0.556757

In [38]:
pd.concat([ser1,ser2],keys= [1,2])

1  1    0.756911
   2    0.862341
   3    0.078234
   4    0.180916
2  5    0.758765
   6    0.824712
   7    0.526211
   8    0.556757
dtype: float64